.g-inner {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.w-full {
  width: 100% !important;
}

.is-pc {
  display: inline-block;
  @include media-max($break-point) {
    display: none;
  }
}

.is-sp {
  display: none;
  @include media-max($break-point) {
    display: block;
  }
}

.main {
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
  position: relative;
  z-index: 2;
  @include media-max($break-point) {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}