// Breakpoint
$break-point: 768px;

// Common Colors
$color-page: #242424;
$color-primary: #0D5CCA;
$color-primary-800: rgba($color: #0D5CCA80, $alpha: 0.8);
$color-red-500: #E14D4D;
$color-gray-100: #E8ECF0;
$color-gray-200: #D4D4D4;
$color-gray-300: #B2B2B2;
$color-gray-500: #757575;
$color-white: #fff;

$font-xs: 1rem;
$font-sm: 1.2rem;
$font-md: 1.4rem;
$font-lg: 1.6rem;
$font-xl: 1.8rem;
$font-xxl: 2rem;
$font-3xl: 2.2rem;