.flex {
  display: flex !important;
}

.flex01 {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.align-center {
  align-items: center !important;
}

.align-start {
  align-items: flex-start !important;
}

.align-end {
  align-items: flex-end !important;
}

.direction-column {
  flex-direction: column !important;
}

.direction-row {
  flex-direction: row !important;
}

.flexshrink0 {
  flex-shrink: 0;
}

.gap-1 {
  gap: 5px;
}

.gap-2 {
  gap: 10px;
}

.row-gap-2 {
  row-gap: 10px;
}
.column-gap-1 {
  column-gap: 5px;
}
.column-gap-2 {
  column-gap: 10px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

@include media-max($break-point) {
  .gap-2 {
    gap: 20px;
  }

  .flex01 {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
  }
}

@include media-max(390px) {
  .gap-2 {
    gap: 5.128vw;
  }
  .flex01 {
    gap: 6.66vw;
  }
}