extends ../layouts/default

block vars
  -title        = 'About Page'
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = 'aboutpage'
  -path         = ''
  -pathUrl      = ''

block container
  h1 This is about page