header.header
  .header-logo
    .header-logo__company
      img(src="/assets/images/logo-company.png" alt="Company logo")
    .header-logo__benefitter
      .header-logo__benefitter-icon
        img(src="/assets/images/icon-robot.jpg" alt="WEBチャットBenefitter なんでも聞いてください！" width="40")
      .header-logo__benefitter-text
        h1.header-logo__title WEBチャットBenefitter
        span なんでも聞いてください！
  .header-control
    .checkboxToggle.checkboxToggle-primary
      span.checkboxToggle-text 履歴を<br class="is-sp">表示
      input(type="checkbox", name="" class='checkboxToggle-icon')

    //- button(class='btn btn-icon')
    //-   <i class="fa-regular fa-circle-xmark"></i>