.modal.modal-1
  .modal-content
    .modal-header
      h2.modal-ttl.flex.align-center
        <i class="fa-regular fa-envelope"></i>
        span.ml-2 モーダルタイトル
      button(class='btn-icon btn-icon--02 closeModalBtn')
        <i class="fa-regular fa-circle-xmark"></i>
    .modal-body
      p MENU1 メンテナンス情報詳細など
      p.mt-2
        |URL記述：
        a(href="https://ctcg.sharepoint.com/sites/tool" class='text-link') https://ctcg.sharepoint.com/sites/tool
      p.mt-2 Benefitter記法：こちらをクリック
      p.mt-2
        |マークダウン記法：[こちらをクリック](
        a(href="https://ctcg.sharepoint.com/sites/tool" class='text-link') https://ctcg.sharepoint.com/sites/tool
        |)
      p.mt-2
        |URL記述：
        a(href="https://ctcg.sharepoint.com/sites/tool" class='text-link') https://ctcg.sharepoint.com/sites/tool
      p.mt-2 Benefitter記法：こちらをクリック
      p.mt-2
        |マークダウン記法：[こちらをクリック](
        a(href="https://ctcg.sharepoint.com/sites/tool" class='text-link') https://ctcg.sharepoint.com/sites/tool
        |)

      button(class='btn btn-modal closeModalBtn') 閉じる

.modal.modal-2
  .modal-content
    .modal-header
      h2.modal-ttl.flex.align-center
        <i class="fa-regular fa-envelope"></i>
        span.ml-2 モーダルタイトル
      button(class='btn-icon btn-icon--02 closeModalBtn')
        <i class="fa-regular fa-circle-xmark"></i>
    .modal-body
      p MENU1 メンテナンス情報詳細など
      p.mt-2
        |URL記述：
        a(href="https://ctcg.sharepoint.com/sites/tool" class='text-link') https://ctcg.sharepoint.com/sites/tool
      p.mt-2 Benefitter記法：こちらをクリック
      p.mt-2
        |マークダウン記法：[こちらをクリック](
        a(href="https://ctcg.sharepoint.com/sites/tool" class='text-link') https://ctcg.sharepoint.com/sites/tool
        |)
      p.mt-2
        |URL記述：
        a(href="https://ctcg.sharepoint.com/sites/tool" class='text-link') https://ctcg.sharepoint.com/sites/tool
      p.mt-2 Benefitter記法：こちらをクリック
      p.mt-2
        |マークダウン記法：[こちらをクリック](
        a(href="https://ctcg.sharepoint.com/sites/tool" class='text-link') https://ctcg.sharepoint.com/sites/tool
        |)

      button(class='btn btn-modal closeModalBtn') 閉じる

.modal.modal-3
  .modal-content
    .modal-header
      h2.modal-ttl.flex.align-center
        <i class="fa-regular fa-envelope"></i>
        span.ml-2 モーダルタイトル
      button(class='btn-icon btn-icon--02 closeModalBtn')
        <i class="fa-regular fa-circle-xmark"></i>
    .modal-body
      p MENU1 メンテナンス情報詳細など
      p.mt-2
        |URL記述：
        a(href="https://ctcg.sharepoint.com/sites/tool" class='text-link') https://ctcg.sharepoint.com/sites/tool
      p.mt-2 Benefitter記法：こちらをクリック
      p.mt-2
        |マークダウン記法：[こちらをクリック](
        a(href="https://ctcg.sharepoint.com/sites/tool" class='text-link') https://ctcg.sharepoint.com/sites/tool
        |)
      p.mt-2
        |URL記述：
        a(href="https://ctcg.sharepoint.com/sites/tool" class='text-link') https://ctcg.sharepoint.com/sites/tool
      p.mt-2 Benefitter記法：こちらをクリック
      p.mt-2
        |マークダウン記法：[こちらをクリック](
        a(href="https://ctcg.sharepoint.com/sites/tool" class='text-link') https://ctcg.sharepoint.com/sites/tool
        |)

      button(class='btn btn-modal closeModalBtn') 閉じる
