extends layouts/default

block vars
  -title        = 'Home Page'
  -description  = ''
  -keywords     = ''
  -og_title     = ''
  -url          = ''
  -pageID       = ''
  -path         = ''
  -pathUrl      = ''

block container
  aside.aside
    .aside-bar
      nav
        ul.menu01#parentElementId
          li.item.btn-tab
            <i class="fa-regular fa-circle-dot"></i>
            span.text-center アクション<br class='is-pc'>メニュー
          li.item.btn-tab
            <i class="fa-solid fa-list"></i>
            span.text-center モードの<br class='is-pc'>選択
          li.item.btn-tab
            <i class="fa-solid fa-pen-to-square"></i>
            span.text-center My<br class='is-pc'>メニュー
          li.item.btn-menu02
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20.899" viewBox="0 0 20 20.899">
              <g id="dots-menu" transform="translate(0 25.739)">
                <circle id="Ellipse_17" data-name="Ellipse 17" cx="2.366" cy="2.366" r="2.366" transform="translate(0 -24.758)" fill="#fff"/>
                <circle id="Ellipse_18" data-name="Ellipse 18" cx="2.366" cy="2.366" r="2.366" transform="translate(6.163 -22.392) rotate(-45)" fill="#fff"/>
                <circle id="Ellipse_19" data-name="Ellipse 19" cx="2.366" cy="2.366" r="2.366" transform="translate(13.939 -24.349) rotate(-9.218)" fill="#fff"/>
                <circle id="Ellipse_20" data-name="Ellipse 20" cx="2.366" cy="2.366" r="2.366" transform="translate(0 -17.655)" fill="#fff"/>
                <circle id="Ellipse_21" data-name="Ellipse 21" cx="2.366" cy="2.366" r="2.366" transform="translate(6.163 -15.289) rotate(-45)" fill="#fff"/>
                <circle id="Ellipse_22" data-name="Ellipse 22" cx="2.366" cy="2.366" r="2.366" transform="translate(13.307 -15.289) rotate(-45)" fill="#fff"/>
                <circle id="Ellipse_23" data-name="Ellipse 23" cx="2.366" cy="2.366" r="2.366" transform="translate(0 -10.552)" fill="#fff"/>
                <circle id="Ellipse_24" data-name="Ellipse 24" cx="2.366" cy="2.366" r="2.366" transform="translate(6.164 -8.187) rotate(-45)" fill="#fff"/>
              </g>
            </svg>

      .menu02
        button(class='btn-icon btn-icon--01 openModalBtn' data-modal='modal-1')
          <i class="fa-regular fa-envelope"></i>

        button(class='btn-icon openModalBtn' data-modal='modal-2')
          <i class="fa-solid fa-circle-info"></i>

        button(class='btn-icon openModalBtn' data-modal='modal-3')
          <i class="fa-solid fa-circle-question"></i>

    .aside-right
      .aside-content
        .aside-block.block01.active
          ul.list-link
            li.link
              a(class="close-aside" href="#") 翻訳
            li.link
              a(class="close-aside" href="#") 雑談しよう♪
        .aside-block.block02
          ul.list-link
            li.link
              a(class="close-aside" href="#") 共通
            li.link
              span.sub-ttl CS <i class="fa-solid fa-chevron-down"></i>
              ul.sub
                li.sub-link 
                  a(class="close-aside" href="#") CS
                li.sub-link 
                  a(class="close-aside" href="#") CS新人教育用
            li.link
              span.sub-ttl Vメカ <i class="fa-solid fa-chevron-down"></i>
              ul.sub
                li.sub-link 
                  a(class="close-aside" href="#") Vメカ_オペレーション系
                li.sub-link 
                  a(class="close-aside" href="#") Vメカ_問い合わせ系
            li.link
              span.sub-ttl Vツール/MRO <i class="fa-solid fa-chevron-down"></i>
              ul.sub
                li.sub-link 
                  a(class="close-aside" href="#") Vツール/MRO_オペレーション系
                li.sub-link 
                  a(class="close-aside" href="#") Vツール/MRO_問い合わせ系
            li.link
              span.sub-ttl 3D2M <i class="fa-solid fa-chevron-down"></i>
              ul.sub
                li.sub-link 
                  a(class="close-aside" href="#") 3D2M_オペレーション系
                li.sub-link 
                  a(class="close-aside" href="#") 3D2M_問い合わせ系
            li.link
              a(class="close-aside" href="#") エスカレ先特定ツール
            li.link
              a(class="close-aside" href="#") 社内用語集
            li.link
              a(class="close-aside" href="#") 【FY19新卒専用】しごとの便利帳
            li.link
              a(class="close-aside" href="#") 試験1552用項目
            li.link
              span.sub-ttl #3059TEST <i class="fa-solid fa-chevron-down"></i>
              ul.sub
                li.sub-link 
                  a(class="close-aside" href="#") 3052_テスト2
        .aside-block.block03
          .aside-box 
            h3.title01.mb-2 執筆分野
            .textarea
              textarea(class='textarea-input' placeholder='ここに執筆分野を入力します。')
              span.textarea-count 0/2000
          .aside-box
            h3.title01.mb-2 トーン
            .flex.flex-wrap.gap-2
              button(class='btn btn-secondary select01') プロフェッショナル
              button(class='btn btn-secondary select01') カジュアル
              button(class='btn btn-secondary select01') ニュース
              button(class='btn btn-secondary select01') 面白い
              button(class='btn btn-secondary  btn-secondary--01 select01')
                <i class="fa-solid fa-plus"></i>
          .aside-box
            h3.title01.mb-2 形式
            ul.flex01
              li
                button(class='btn btn-secondary btn-lg select02')
                  <i class="fa-solid fa-align-left"></i>
                p.text-center.mt-1 段落
              li
                button(class='btn btn-secondary btn-lg select02')
                  <i class="fa-regular fa-envelope"></i>
                p.text-center.mt-1 メール
              li
                button(class='btn btn-secondary btn-lg select02')
                  <i class="fa-solid fa-list"></i>
                p.text-center.mt-1  アイデア
          .aside-box
            h3.title01.mb-2 長さ
            .flex01
              button(class='btn btn-secondary btn-md select02') 短い
              button(class='btn btn-secondary btn-md select02') 中
              button(class='btn btn-secondary btn-md select02') 長い
            button(class='btn btn-primary btn-primary--style01 mt-3') 下書きの生成
          .aside-box
            h3.title01.mb-2 プレビュー
            .textarea
              textarea(class='textarea-input' placeholder='AIによって生成された文章がここに表示されます。')
              span.textarea-count 0/2000
            button(class='btn btn-primary btn-primary--style02') 追加
      .aside-logo
        img(src="/assets/images/logo-benefitter.png" alt="Benefitter")
      button(class='btn-close is-sp close-aside')
        <i class="fa-regular fa-circle-xmark"></i>
  article.article
    .article-inner
      .article-content
        .flex.justify-center.py-2.mt-4
          span.text-gray-300.font-sm 8月25日(金)

        .article-row
          .avatar-item
            img(src="/assets/images/icon-robot.jpg" alt="WEBチャットBenefitter なんでも聞いてください！" width="40")
          .article-col
            .article-item.article-item--res
              p こんにちは。WEBチャットBenefitterです。（初期メッセージ）
            span.text-gray-300.font-sm.ml-2 12:20

        .article-row.article-row--end
          .article-col.article-col--req
            .article-item.article-item--req
              p 今日の天気は？
            span.text-gray-300.font-sm.mr-2 12:21

        .article-row
          .avatar-item
            img(src="/assets/images/icon-robot.jpg" alt="WEBチャットBenefitter なんでも聞いてください！" width="40")
          .article-col
            .article-item.article-item--res
              p.mb-4 どちらの天気でしょうか？
              .gr-btnchat 
                button(class='btn-chat mb-2 no-selected-resel') 札幌
                button(class='btn-chat mb-2 no-selected-resel') 仙台
                button(class='btn-chat mb-2 no-selected-resel') 東京
                button(class='btn-chat mb-2 no-selected-resel') 大阪
                button(class='btn-chat mb-2') 福岡
            span.text-gray-300.font-sm.ml-2 12:21

        .article-row
          .avatar-item
            img(src="/assets/images/icon-robot.jpg" alt="WEBチャットBenefitter なんでも聞いてください！" width="40")
          .article-col
            .article-item.article-item--res
              p.mb-4 PCの時刻で確認してください。
              .flex.flex-wrap.row-gap-2.column-gap-2
                button(class='btn-chat btn-chat--01') 20時以前
                button(class='btn-chat btn-chat--01') 20時を超える
            span.text-gray-300.font-sm.ml-2 12:21

      .article-bottom.pt-4
        .article-input
          div.flex.align-center
            .box-clear
              button(class='btn-clear')
                <i class="fa-solid fa-broom"></i>
              .popover
                span.text-center クリックすると<br>チャットを初期化します
                button(class='btn-icon btn-popup')
                  <i class="fa-regular fa-circle-xmark"></i>
            .box-input#input-area
              textarea(class='main-input' placeholder='')
              button(class='btn-sent')
                <i class="fa-solid fa-paper-plane"></i>
              .popover
                span.text-center こちらにテキストを入力してください。
                button(class='btn-icon btn-popup')
                  <i class="fa-regular fa-circle-xmark"></i>
            .control-blockdown.ml-2.is-sp
              <i class="fa-solid fa-ellipsis-vertical"></i>
          .blockdown
            div.flex.justify-between.align-center.column-gap-2.pt-2
              .inputFile
                input.inputFile-input(type="file" name="")
                span.inputFile-text.font-sm <i class="fa-solid fa-arrow-up-from-bracket"></i> ※画像ファイルのみアップロードできます
              .checkboxToggle.checkboxToggle-secondary
                span.checkboxToggle-text.font-sm.flexshrink0 Enterキーで改行
                input(type="checkbox" name="" class='checkboxToggle-icon')

  include components/modal.pug